@import "../common/default.css";

.container{
    margin-top: 4rem;
}
.contents-view{
    height: 33rem;
    width: 37rem;
    border-radius: 0.3rem;
    margin-left: 4rem;
}
.contents-value{
    width: 65rem;
    border-radius: 0.3rem;
    padding: 1.2rem;
    margin-right: 4rem;
}
.img-fluid{
    height: 33rem;
    max-width: 100%;
    border-radius: 0.3rem;
}
.ott{
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
}

.ott1ProImg {
    position: relative;
    z-index: 1;
    background: url('https://an2-glx.amz.wtchn.net/images/ex_netflix_logo_square.png')center center / cover no-repeat;
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 0px 1px inset;
}
.ott2ProImg {
    position: relative;
    z-index: 1;
    background: url('https://an2-glx.amz.wtchn.net/images/ex_watcha_logo_square.png')center center / cover no-repeat;
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 0px 1px inset;
}
.ott3ProImg {
    position: relative;
    z-index: 1;
    background: url('https://an2-img.amz.wtchn.net/image/v2/ryWIr0pNWgEBU-qIsDRsYw.png?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKd0lqb2lMM1l5TDNOMGIzSmxMM1ZwYldGblpTOHhOalF5TURZME16SXlPVEUxT0RJNE9EazFJbjAuVEM5ZjBaTnBlUmM5MklUTWdVakxmM3BieElmaTFHLTNWc0d2RUxqa3FDSQ')center center / cover no-repeat;
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 8%) 0px 0px 0px 1px inset;
}
.cnts-view-btn{
}

.cnts-action {
    font-size: 1.5rem;
    cursor: pointer;
}


.content-oneLineReview {
    float: right;
    font-weight: bold;
}