#poster-image{
    width: 100%;
    height: 100%;
    /*
    opacity: 1;
    object-fit: cover;
    transition: opacity 420ms ease 0s;*/

}
/*포인트시 포스터 확대*/
#poster-img:hover {
    cursor: pointer;
    transition: all 0.2s linear;
    transform: scale(1.15);
}
.contents_container{
    margin-top: 2.4rem;
    justify-content: center;
    display:flex;   /*요소들을 가로로 수평 정렬*/
    flex-direction: row;
    flex-wrap: wrap;    /*요소들을 여러줄로 묶음*/
    align-content: flex-start;
}
.detail-container {
    /*min-width: 18rem;   페이지 줄어들면 같이 줄어들게 할건지? 고정값을 줄건지
    max-width: 18rem;*/
    border: 0.05rem solid; /*border: 포스터랑 제목 틀 보려고 넣어놓은거임 나중에 뺄것*/
    border-color: #A5A5AA;
    border-radius: 0.1rem;
    cursor: pointer;
    width: 15%;
    height:15%;
    margin-bottom: 2.5rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
.detail-container:last-child{
    margin-right: 0;
}
.contents_title{
    font-size:20px;
}


/*
    <section class="container py-5">
        <c:forEach var="i" begin="0" end="2" items="${cntsDtoList}">
            <div class="items">
                <div class="card m-2" onclick="location.href='/psvm/contents/${i.cnts_id}'">
                    <div id="item-img" style="margin-bottom: -24.4px">
                        <img class="item-img" src="${i.cnts_postr_img}" alt="${i.cnts_title}"/>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">${i.cnts_title}</h4>
                        <h6 class="text-muted">${i.cnts_subttl}</h6>
                        <p class="card-text">${i.cnts_op_date} : ${i.cnts_cnty}</p>
                    </div>
                </div>
            </div>
        </c:forEach>
    </section>

*/


/*메인화면 검색창
.search-main {
    background-image: url(image/dopaMainPoster.jpg);
    background-repeat: no-repeat;
}*/
:root {
    margin: 0;
    font-family: 'NotoSans KR', 'Noto Serif';
    background-color: var(--main-white);
    /* 이런식으로 해서 사용하세요 */
    /* 정의된 컬러 -  검정, 흰색(배경용), 회색(음영1, 음영2) 오렌지, 베이지, 옐로우 */
    --main-black: #292A32;
    --main-white: #F7F7F7;
    --main-grey: #A5A5AA;
    --main-grey2: rgba(0, 0, 0, 0.05);
    --orange: #FF7800;
    --beige: #FFBC97;
    --yellow: #FFE300;
}
/*검색창 css속성*/
.bg-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-top-text{
    text-align: center;
    color: #F7F7F7;
}
.form-search-control {
    height: 3rem;
    width: 30rem;
    border-radius: 1rem!important;
}

/*컨텐츠 슬라이드 좌우*/
.contents .swiper-prev,
.contents .swiper-next{
    width: 3rem;
    height: 3rem;
    border: 2px solid #FF7800;
    border-radius: 50%;
    outline: none;
    color: #292A32;;
    opacity: .3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 47rem;
    bottom: 0;
    margin: auto;
    z-index: 1;     /*div우선순위*/

}
.contents .swiper-prev{
    left: 5rem;
}
.contents .swiper-next{
    right:  5rem;
}
.contents .swiper-prev:hover,
.contents .swiper-next:hover {
    background-color: #F7F7F7;
    color: #292A32;
}
