<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="ItemDto" type="com.PSVM.dopamin.domain.ItemDto"/>
        <typeAlias alias="Cart_ItemDto" type="com.PSVM.dopamin.domain.Cart_ItemDto"/>
        <typeAlias alias="BbsDto" type="com.PSVM.dopamin.domain.BbsDto"/>
        <typeAlias alias="PostDto" type="com.PSVM.dopamin.domain.PostDto"/>
    </typeAliases>
</configuration>