<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="ItemDto" type="com.PSVM.dopamin.domain.ItemDto"/>
        <typeAlias alias="Cart_ItemDto" type="com.PSVM.dopamin.domain.Cart_ItemDto"/>
        <typeAlias alias="BbsDto" type="com.PSVM.dopamin.domain.BbsDto"/>
        <typeAlias alias="PostDto" type="com.PSVM.dopamin.domain.PostDto"/>
        <typeAlias alias="RevwDto" type="com.PSVM.dopamin.domain.RevwDto"/>
        <typeAlias alias="MyPageCntsDto" type="com.PSVM.dopamin.domain.MyPageCntsDto"/>
        <typeAlias alias="MyPagePostDto" type="com.PSVM.dopamin.domain.MyPagePostDto"/>
        <typeAlias alias="MyPageDto" type="com.PSVM.dopamin.domain.MyPageDto"/>
        <typeAlias alias="UserDto" type="com.PSVM.dopamin.domain.UserDto"/>
    </typeAliases>
</configuration>