.img-wrap{
    display: block; /* 영역적용위해 사용 */
    width: 100%; height: 100%;

    overflow: hidden;

    position: relative; /* absolute의 기본기준은 body로 처리 - 현재 요소로 기준변경 */
}

.img-wrap .insertCart{
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4);

    position: absolute; /* 이미지와 겹치게 처리 */
    top: 0; left: 0;

    color: #fff; text-align: center;
    line-height: 200px;

    opacity: 0; /* 처음엔 안보이고 */

    transition: 0.3s;
}

#item_img a:hover button, #item_img a:focus button{
    /* 마우스를 올리면 보이게 처리 */
    opacity: 1;
}

