.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin-top: 3rem;
  background-color: #f8f9fb;
}

.connect_us {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.footer-main > p {
  background-color: white;
  font-family: 'Noto Serif', serif;
  font-weight: lighter;
}