@import "default.css";

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  background-color: #f8f9fb;
}

.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--main-grey2);
  margin: 0 3.5%;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin-right: auto;
  margin-bottom: 0;
}

.nav-list > li > a {
  display: block;
  padding: .5rem;
  text-decoration: none;
}

.search-form {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-right: 1rem;
}

.search-option {
  width: 6rem;
  height: 38px;
  background-color: var(--main-grey2);
  border: none;
}

.input-wrapper {
  background: var(--main-grey2) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld0JveD0iMCAwIDIyIDIyIj4KICAgIDxwYXRoIGZpbGw9IiNCQUJBQzMiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTkuODE0IDE1LjczNWMtMy4yMDcgMC01LjgxNy0yLjYzLTUuODE3LTUuODYxIDAtMy4yMzMgMi42MS01Ljg2MiA1LjgxNy01Ljg2MiAzLjIwNyAwIDUuODE4IDIuNjMgNS44MTggNS44NjJzLTIuNjEgNS44Ni01LjgxOCA1Ljg2bTkuODQxIDIuNTRsLTMuNjYtMy43MDRjLjk4LTEuMzEgMS41NzEtMi45MzIgMS41NzEtNC42OTYgMC00LjMwOC0zLjQ3OC03LjgxMi03Ljc1Mi03LjgxMi00LjI3NCAwLTcuNzUyIDMuNTA0LTcuNzUyIDcuODEyIDAgNC4zMDcgMy40NzggNy44MSA3Ljc1MiA3LjgxIDEuODI5IDAgMy41MDctLjY0NCA0LjgzNC0xLjcxNGwzLjYzNyAzLjY4Yy4xODIuMTg2LjQyNi4yODguNjg1LjI4OC4yNTcgMCAuNS0uMS42ODMtLjI4NC4xODItLjE4NC4yODQtLjQzLjI4NS0uNjkgMC0uMjYtLjEtLjUwNS0uMjgzLS42OSIvPgo8L3N2Zz4K) no-repeat 9px 8px;
  padding: 7px 10px 8px 36px;
  border-radius: 2px;
}

.search-input {
  border: none;
  background: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 3px;
  width: 10rem;
}

.search-input:focus {
  outline: none;
}


