.css-hnjlk0 {
    --container-width: 1200px;
    max-width: var(--container-width);
    padding: 0px 16px 0px;
    margin: 0px auto;
}
.css-1uk7quv {
    display: block;
    word-break: keep-all;
    font-weight: 800;
    font-size: 2em;
    letter-spacing: -0.04ch;
    margin-block: 0.67em;
    margin-inline: 0px;
}
.css-TOP {
    display: block;
    word-break: keep-all;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: -0.04ch;
    margin-block: 0.67em;
    margin-inline: 0px;
}
.css-1u44z18 {
    --solvedac-button-background-color: #f7f8f9;
    --solvedac-button-text-color: #000000;
    --solvedac-button-hover-background-color: #dadfe3;
    --solvedac-button-hover-text-color: #000000;
    --solvedac-button-hover-shadow: rgba(218,223,227,0.4) 0px 4px 8px;
    --solvedac-button-active-shadow: rgba(218,223,227,0.4) 0px 2px 4px;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 16px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background: var(--solvedac-button-background-color);
    color: var(--solvedac-button-text-color);
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s, transform 0.3s ease 0s, box-shadow 0.3s ease 0s;
    border-radius: 4px;
}
.css-rtde4j {
    display: flex;
    flex-wrap: wrap;
}
.css-15g0yfl {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
}
.css-ik5ztq {
    font-size: 1.5em;
    font-weight: bold;
}
.css-16sxkvf {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}
.css-2xlufz {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    place-items: stretch start;
    justify-content: space-around;
    -webkit-box-align: stretch;
    gap: 16px;
}
.css-r3v8jq {
    width: 100%;
    min-height: 320px;
    border:10px solid rgb(221, 223, 224);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    padding: 32px 16px;
}
.css-1e19vwe {
    width: 64px;
    height: 64px;
    flex: 0 0 64px;
}
.css-lvz7a2 {
    text-align: center;
    font-weight: bold;
    margin: 8px 0px;
}
.css-7kyp67 {
    text-align: center;
    flex: 1 0 0px;
    padding-bottom: 16px;
}
.css-t6a2j8 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 16px;
}
.css-16sxkvf {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}
.css-iprtw2 {
    font-size: 75%;
    color: #8a8f95;
}
.container{
    width: 800px;
    margin: 0 auto;
}
ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #ededed;
    color: #222;
}

.tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}
/* The Modal (background) */

