@import "../common/default.css";
/* 이걸 각자 만드는 css 모듈마다 import 해줘야 default.css에 정의된 컬러변수를 사용할 수 있음 */

.form-control:focus {
  border: 1px solid var(--orange);
  box-shadow: 0 0 10px var(--orange);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}