<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.PSVM.dopamin.dao.BbsMapper">
  <delete id="deleteBbsUsingId">
    DELETE
    FROM BBS
    WHERE bbs_id = 1;
  </delete>

  <insert id="insertInitBbs">
    INSERT INTO BBS
      (bbs_nm, bbs_prior, bbs_visib, in_date, in_user, up_user)
    VALUES (#{bbsName}, 0, #{isVisible}, #{createTime}, #{managerName}, #{managerName});
  </insert>

  <select id="listAllAvailBbs">
    SELECT *
    FROM BBS
    WHERE bbs_visib = true;
  </select>

  <update id="updateSortPriorUsingName">
    Update BBS
    SET bbs_prior = #{bbsPrior}
    WHERE bbs_nm like CONCAT(#{targetNamePrefix}, "%");
  </update>

  <update id="updateAvailUsingId">
    UPdate BBS
    SET bbs_visib = #{isAvail}
    WHERE bbs_id = #{targetId};
  </update>

  <update id="updateAvailUsingName">
    UPDATE BBS
    SET bbs_visib = #{isAvail}
    WHERE bbs_nm like CONCAT(#{targetNamePrefix}, "%")
  </update>

  <update id="updateBbsNameUsingName">
    UPDATE BBS
    SET bbs_nm = ${newBbsName}
    WHERE bbs_nm like CONCAT(#{targetNamePrefix}, "%")
  </update>

  <update id="updateSortPriorUsingId">
    UPDATE BBS
    SET bbs_prior = #{bbsPrior}
    where bbs_id = #{targetId}
  </update>

</mapper>