<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.PSVM.dopamin.dao.ItemAdminMapper">
    <select id="item_getCount" resultType="int">
        SELECT count(*)
        FROM ITEM
    </select>
    <select id="item_getPage" parameterType="int" resultType="ItemDto">
        SELECT item_id, item_nm,grd_nm,item_dsc,item_price,item_img
        FROM ITEM
        WHERE list_id=#{index} and stat=1
    </select>
    <select id="item_getStat_0" parameterType="map" resultType="ItemDto">
        SELECT item_id, item_nm,grd_nm,item_dsc,item_price,item_img
        FROM ITEM
        WHERE stat=0
    </select>
    <select id="item_getStat_1" parameterType="map" resultType="ItemDto">
        SELECT item_id, item_nm,grd_nm,item_dsc,item_price,item_img
        FROM ITEM
        WHERE stat=1
    </select>
    <select id="item_getUser_stat" parameterType="String" resultType="int">
        SELECT user_stat
        FROM USER
        WHERE user_id=#{user_id};
    </select>
    <select id="item_user_nic" parameterType="String" resultType="String">
        SELECT nic
        FROM USER
        WHERE user_id=#{user_id}
    </select>
    <select id="item_register" parameterType="ItemDto">
        INSERT INTO ITEM
        (list_id,grd_nm,item_nm,item_dsc,item_price,item_img,user_nic,in_date,in_user,up_user)
        VALUES
            (#{list_id},#{grd_nm},#{item_nm},#{item_dsc},#{item_price},#{item_img},#{user_nic},now(),#{in_user},#{up_user})
    </select>
    <select id="remove_item" parameterType="int">
        DELETE FROM ITEM
        WHERE item_id=#{item_id}
    </select>
    <select id="modify_item" parameterType="ItemDto">
        UPDATE ITEM
        SET item_nm=#{item_nm}, item_dsc=#{item_dsc}, item_price=#{item_price}
        WHERE item_id=#{item_id}
    </select>
    <select id="ShowToNoShow" parameterType="Integer">
        UPDATE ITEM
        SET stat=0
        WHERE item_id=#{item_id}
    </select>
    <select id="NoShowToShow" parameterType="Integer">
        UPDATE ITEM
        SET stat=1
        WHERE item_id=#{item_id}
    </select>
    <select id="test_select" parameterType="String" resultType="String">
        SELECT item_nm
        FROM ITEM
        WHERE item_nm=#{item_name}
    </select>
    <select id="test_delete_item" parameterType="String">
        DELETE FROM ITEM
        WHERE item_nm=#{item_name}
    </select>

</mapper>
<!--    <select id="UserStatus" parameterType="String" resultType="int">-->
<!--        SELECT user_stat-->
<!--        FROM USER-->
<!--        WHERE user_id=#{user_id}-->
<!--    </select>-->


<!--    <select id="item_getStatus" parameterType="int">-->
<!--        SELECT stat-->
<!--        FROM ITEM-->
<!--        WHERE item_id=#{item_id}-->
<!--    </select>-->


