<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.PSVM.dopamin.dao.ItemUserMapper">
    <select id="addCart" parameterType="Cart_ItemDto">
        INSERT INTO CART_ITEM
            (item_id,cart_id,in_user,in_date,up_user)
        VALUES
            (#{item_id},#{cart_id},#{in_user},now(),#{up_user})
    </select>
    <select id="find_item" parameterType="int" resultType="int">
        SELECT item_id
        FROM ITEM
        WHERE item_id=#{item_id}
    </select>
    <select id="item_stat" parameterType="int" resultType="int">
        SELECT stat
        FROM ITEM
        WHERE item_id=#{item_id}
    </select>
    <select id="getCart_list" parameterType="int" resultType="ItemDto">
        SELECT i.item_id,il.list_nm,i.grd_nm,i.item_nm,i.item_dsc,i.item_price,i.item_img
        FROM ITEM as i
                 JOIN CART_ITEM as ci
                      ON i.item_id=ci.item_id
                 JOIN ITEM_LIST as il
                      ON il.list_id=i.list_id
        WHERE i.stat=1 and cart_id=#{cart_id};
    </select>
    <select id="delete_cart_item" parameterType="map">
        DELETE
        FROM CART_ITEM
        WHERE item_id=#{item_id} and cart_id=#{cart_id};
    </select>
    <select id="getUser_point" parameterType="String" resultType="int">
        SELECT dopa_point
        FROM USER
        WHERE user_id=#{user_id}
    </select>
    <select id="updateUser_point" parameterType="map" resultType="int">
        UPDATE USER
        SET dopa_point=#{remain_point}
        WHERE user_id=#{user_id}
    </select>
    <select id="delete_item_in_Cart" parameterType="map">
        DELETE
        FROM CART_ITEM
        WHERE cart_id=#{cart_id} and item_id in
        <foreach collection="id_list" item="item_id" open="(" close=")" separator=",">
            #{item_id}
        </foreach>
    </select>
    <select id="insert_item_in_Possesion" parameterType="java.util.List">
        INSERT INTO POSSESION(item_id,user_id,in_date,in_user,up_user)
        VALUES
             <foreach collection="list" item="item" separator=",">
                 (#{item.item_id},#{item.user_id},now(),#{item.user_id},#{item.user_id})
             </foreach>
    </select>
    <select id="add_deal_detl" parameterType="java.util.List">
        INSERT INTO DEAL_DETL(item_id,user_id,pchs_stat,in_date,in_user,up_user)
        VALUES
            <foreach collection="list" item="item" separator=",">
                (#{item.item_id},#{item.user_id},1,now(),#{item.user_id},#{item.user_id})
            </foreach>
    </select>
    <select id="pnt_use_detl" parameterType="java.util.List">
        INSERT INTO PNT_USE_DETL(pchs_item_id,pnt,user_id,in_date,in_user,up_user)
        VALUES
            <foreach collection="list" item="item" separator=",">
                (#{item.item_id},#{item.item_price},#{item.user_id},now(),#{item.user_id},#{item.user_id})
            </foreach>
    </select>
</mapper>



