<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--&lt;!&ndash;namespace는 이름을 구별하기 위한 공간입니다. 쉽게 얘기하면 id는 구별되어야 하므로 별도의 그c룹으로 나눕니다.-->
<!--그래야 id의 충돌하는 경우가 적어지니까. 다른 이유도 있는데 일단 이 정도만 알아두시기 바랍니다.&ndash;&gt;-->
<mapper namespace="com.PSVM.dopamin.dao.MyPageMapper">
    <select id="selectrevw" parameterType="String" resultType="RevwDto">
        select r.user_id, r.revw_id, r.cnts_id, r.revw_body, c.cnts_title, r.revw_visib_stat
        from REVW r
                 join CNTS c on c.cnts_id = r.cnts_id
        where r.user_id = #{user_id}
    </select>

    <select id="selectrevwEval" parameterType="String" resultType="RevwDto">
        select re.revw_id, re.user_id, re.revw_eval, c.cnts_title, r.revw_visib_stat
        from REVW_EVAL re
                 join REVW r on r.revw_id = re.revw_id
                 join CNTS c on c.cnts_id = r.cnts_id
        where re.user_id = #{user_id}
          AND r.revw_visib_stat = 1;
    </select>

    <select id="selectCntsWish" parameterType="String" resultType="MyPageCntsDto">
        select cw.cnts_id, cw.user_id, cw.in_date, c.cnts_postr_img, c.cnts_visib_stat
        from CNTS_WISH cw
                 join CNTS c on c.cnts_id = cw.cnts_id
        where cw.user_id = #{user_id}
          and c.cnts_visib_stat = 1;
    </select>

    <select id="selectCntsView" parameterType="String" resultType="MyPageCntsDto">
        select cv.cnts_id, cv.user_id, cv.in_date, c.cnts_postr_img, c.cnts_visib_stat
        from CNTS_VIEW cv
                 join CNTS c on c.cnts_id = cv.cnts_id
        where cv.user_id = #{user_id}
          and c.cnts_visib_stat = 1;
    </select>

    <select id="selectPost" parameterType="String" resultType="MyPagePostDto">
        select user_id,
               bbs_id,
               post_id,
               post_title,
               post_view_cnt,
               post_reply_cnt,
               in_date,
               post_visib
        from POST
        order by in_date desc;
    </select>

    <select id="selectUserInfo" parameterType="String" resultType="MyPageDto">
        select user_id,
               prf_img,
               nic,
               dopa_exp,
               dopa_point,
               fav_genre1,
               sex,
               btdt
        from USER
        where user_id = #{user_id};
    </select>

</mapper>
