<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.PSVM.dopamin.dao.ReviewMapper">

    <!--한줄평 상세(전체 읽기) 페이지 페이징 해야함-->
    <!--한줄평 전체 읽어오기-->
    <select id="selectAllRevw" parameterType="int" resultType="com.PSVM.dopamin.domain.ReviewDto">
        select revw_id, cnts_id, user_id, revw_body, in_date
        from REVW
        where revw_visib_stat = 1 and cnts_id = #{cnts_id}
        order by in_date desc
    </select>

    <!--한줄평 1개 조회 읽어오기(필요한가?)-->
    <select id="selectRevw" parameterType="int" resultType="com.PSVM.dopamin.domain.ReviewDto">
        SELECT *
        FROM revw
        WHERE revw_id = #{revw_id}
    </select>

    <!--컨텐츠 하나당 한줄평 총 개수-->
    <select id="countRevw" parameterType="int" resultType="int">
        SELECT count(*) FROM REVW
        WHERE  cnts_id = #{cnts_id}
    </select>

    <!--한줄평 작성-->
    <insert id="insertRevw" parameterType="com.PSVM.dopamin.domain.ReviewDto">
        insert into REVW
            (user_id, cnts_id, revw_body, in_date, in_user, up_date, up_user)
        values
            (#{user_id}, #{cnts_id}, #{revw_body}, now(), #{in_user}, now(), #{up_user})
    </insert>

    <!--한줄평 수정-->
    <update id="updateRevw" parameterType="com.PSVM.dopamin.domain.ReviewDto">
        UPDATE REVW
        SET revw_body = #{revw_body}
          , up_date = now()
        WHERE revw_id = #{revw_id} and user_id = #{user_id}
    </update>

    <!--한줄평 삭제-->
    <delete id="deleteRevw" parameterType="map">
        DELETE FROM REVW WHERE revw_id = #{revw_id} AND user_id = #{user_id}
    </delete>

</mapper>
